@font-face
  font-family: 'cArt'
  src: url('../fonts/cArt.eot?mdlgvd')
  src: url('../fonts/cArt.eot?mdlgvd#iefix') format('embedded-opentype'), url('../fonts/cArt.ttf?mdlgvd') format('truetype'), url('../fonts/cArt.woff?mdlgvd') format('woff'), url('../fonts/cArt.svg?mdlgvd#cArt') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cArt' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-libra:before
  content: "\e902"

.icon-myworks:before
  content: "\e903"

.icon-hot:before
  content: "\e905"

.icon-exi:before
  content: "\e906"

.icon-homepage:before
  content: "\e907"

.icon-course:before
  content: "\e908"

.icon-question:before
  content: "\e909"

.icon-nickname:before
  content: "\e90a"

.icon-usercenter:before
  content: "\e90b"

.icon-delete:before
  content: "\e90c"

.icon-course1:before
  content: "\e90d"

.icon-new:before
  content: "\e90e"

.icon-visible:before
  content: "\e90f"

.icon-hidden:before
  content: "\e910"

.icon-upload:before
  content: "\e911"

.icon-changepwd:before
  content: "\e912"

.icon-collection:before
  content: "\e913"

.icon-collection2:before
  content: "\e914"

.icon-username:before
  content: "\e916"

.icon-share:before
  content: "\e917"

.icon-logout:before
  content: "\e918"

.icon-focus:before
  content: "\e919"

.icon-focus2:before
  content: "\e91a"

.icon-circle:before
  content: "\e91b"

.icon-password:before
  content: "\e91c"

.icon-paint:before
  content: "\e91d"

.icon-like:before
  content: "\e91e"

.icon-like2:before
  content: "\e91f"
