// 颜色定义规范
$color-background = #fffdf8
$color-background-d = rgba(255, 253, 248, 0.5)
$color-background-white = #fff
$color-highlight-background = #fffef4

$color-theme = #f8c301
$color-theme-d = rgba(248, 195, 1, 0.5)
$color-sub-theme = #d93f30

$color-text = #000
$color-text-l = rgba(0, 0, 0, 0.8)
$color-text-ll = rgba(0, 0, 0, 0.5)
$color-text-r = rgba(255, 0, 0, 0.8)
$color-text-white = #fff
$color-text-gray = #777

$color-border-gray = #eee
// +关注 取消关注
$color-btn-follow = rgba(200, 200, 200, 0.59)
$color-btn-cancel = #89d581

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// bottom
$bottom = 50px
